a:visited {
  color: firebrick;
}
#board {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (100px) [8];
  grid-template-columns: repeat(8, 100px);
  grid-auto-rows: 100px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.16),
    0 8px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.16),
    0 8px 8px rgba(0, 0, 0, 0.2);
}
@font-face {
  font-family: "Gwent";
  src: url("./font/hinted-GWENT-ExtraBold.ttf");
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Gwent";
  margin: 0;
  padding: 0;
  color: white;
}
.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.card {
  font-size: 2rem;
}
.card-title {
  -webkit-transition: font-size 0.4s ease;
  -o-transition: font-size 0.4s ease;
  transition: font-size 0.4s ease;
  text-align: center;
}
.card:not(.up) .card-title {
  font-size: 0px;
}
.card.up .card-title {
  font-size: inherit;
}
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  row-gap: 16px;
  -webkit-column-gap: 8px;
  -moz-column-gap: 8px;
  column-gap: 8px;
  background-image: url("./img/board.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 16px 32px;
}
.cell {
  -webkit-transition: scale 0.4s ease;
  -o-transition: scale 0.4s ease;
  transition: scale 0.4s ease;
  font-size: 64px;
  color: orangered;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}
.cell:hover {
  scale: 1.25;
  -webkit-box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.83), 0 1px 4px 0 rgba(0, 0, 0, 0.81);
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.83), 0 1px 4px 0 rgba(0, 0, 0, 0.81);
  z-index: 15;
}
.move {
  -webkit-transition: top 0.25s ease-in-out, left 0.25s ease-in-out;
  -o-transition: top 0.25s ease-in-out, left 0.25s ease-in-out;
  transition: top 0.25s ease-in-out, left 0.25s ease-in-out;
  top: 0;
  left: 0;
}
.left-half {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}
.info {
  margin: 0;
  width: 500px;
  font-size: 22px;
  letter-spacing: 3px;
  line-height: 1.4;
}
ol {
  list-style-position: inside;
}

a,
a:hover,
a:visited {
  outline: none;
}
.c-footer a {
  text-decoration: none;
}
.c-footer__play {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  width: 400px;
  height: 128px;
}

.c-footer__play:before {
  background: url(/img/button-texture.png) no-repeat;
}

.c-footer__play:after,
.c-footer__play:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  content: "";
  width: 400px;
  height: 128px;
}

.c-footer__play span {
  font-size: 30px;

  color: #1b160a;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0 1px 0 #f9d98f;
  z-index: 1;
}

.c-footer__play svg {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 350px;
  height: 100px;
  mix-blend-mode: overlay;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 10;
}